services:
  frank:
    depends_on:
      - personen-mock
    extends:
      file: docker-compose.yaml
      service: frank
    build:
      context: .
      pull: true
      args:
        FF_VERSION: ${FF_VERSION:-9.4.0-20251125.042331}
    image: wearefrank/haalcentraal-connector:${VERSION:-latest}
    environment:
      configurations.directory.classLoaderType: ScanningDirectoryClassLoader

      endpoint.brp.public.test: http://personen-mock:5010/haalcentraal/api/brp/personen

  personen-mock:
    container_name: personen-mock
    image: ghcr.io/brp-api/personen-mock:2.6.0-latest
    environment:
      - ASPNETCORE_ENVIRONMENT=Release
      - ASPNETCORE_URLS=http://+:5010
    ports:
      - "5010:5010"

volumes:
  frank-logs:
  frank-h2db-data: