services:
  frank:
    extends:
      file: docker-compose.yaml
      service: frank
    build:
      context: .
      pull: true
      args:
        FF_VERSION: ${FF_VERSION:-9.4.0-20251209.042331}
    image: wearefrank/haalcentraal-connector:${VERSION:-latest}
    environment:
      # Stage configuration
      dtap.stage: STUB

      # Console Authentication
      application.security.console.authentication.type: NONE

      # HTTP Authentication config
      application.security.http.authenticators: inMem
      application.security.http.authenticators.inMem.type: NONE

      # Assign authenticator to LarvaServlet
      servlet.LarvaServlet.authenticator: inMem
      servlet.LarvaServlet.securityRoles: IbisAdmin

      # Assign authenticator to WebContentServlet
      servlet.WebContentServlet.authenticator: inMem
      servlet.WebContentServlet.securityRoles: IbisAdmin

      # ClassLoader Configurations
      configurations.directory.classLoaderType: ScanningDirectoryClassLoader

volumes:
  frank-logs:
  frank-h2db-data: