<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
    >

    <import resource="springIbisTestTool.xml" />

    <bean name="metadataExtractor" class="org.wearefrank.ladybug.MetadataExtractor">
        <property name="extraMetadataFieldExtractors">
            <list>
                <bean class="org.wearefrank.ladybug.metadata.StatusMetadataFieldExtractor" />
                <bean class="org.wearefrank.ladybug.metadata.SessionKeyMetadataFieldExtractor">
                    <property name="name" value="soapAction"/>
                    <property name="label" value="SOAPAction"/>
                    <property name="sessionKey" value="SOAPAction" />
                </bean>
                <bean class="org.wearefrank.ladybug.metadata.XpathMetadataFieldExtractor">
                    <property name="name" value="Zender"/>
                    <property name="label" value="Zender"/>
                    <property name="extractFrom" value="all"/>
                    <property name="xpath" value="//*[local-name()='zender']/*[local-name()='applicatie']/text()" />
                </bean>
                <bean class="org.wearefrank.ladybug.metadata.XpathMetadataFieldExtractor">
                    <property name="name" value="Ontvanger"/>
                    <property name="label" value="Ontvanger"/>
                    <property name="extractFrom" value="all"/>
                    <property name="xpath" value="//*[local-name()='ontvanger']/*[local-name()='applicatie']/text()" />
                </bean>
                <bean class="org.wearefrank.ladybug.metadata.SessionKeyMetadataFieldExtractor">
                    <property name="name" value="BSN"/>
                    <property name="label" value="BSN"/>
                    <property name="regex" value="\b(\d{9})\b"/>
                    <property name="sessionKey" value="originalMessage" />
                </bean>
            </list>
        </property>
    </bean>

    <bean name="metadataNames" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <value>storageId</value>
                <value>endTime</value>
                <value>duration</value>
                <value>name</value>
                <value>soapAction</value>
                <value>Zender</value>
                <value>Ontvanger</value>
                <value>BSN</value>
                <value>correlationId</value>
                <value>status</value>
                <value>numberOfCheckpoints</value>
                <value>estimatedMemoryUsage</value>
                <value>storageSize</value>
            </list>
        </constructor-arg>
    </bean>
</beans>