name: Bump F!F Version

on:
  workflow_dispatch:
    inputs:
      ff-version-tag:
        description: 'F!F version tag requested to update in your project to. It has to be after 8.0.1(including).'    
        required: true
        default: 'latest'

jobs:
  bump-ff-version:
    uses: wearefrank/ci-cd-templates/.github/workflows/ff-version-auto-bumper.yml@50a6bc0338691d1bb0112fb532d99ccee6e4ce30 # 2.1.3
    secrets:
      token: ${{ secrets.WEAREFRANK_BOT_PAT }}
      dockerhub-username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      ff-version-tag: ${{ github.event.inputs.ff-version-tag || 'latest' }}    # The path of docker-compose file that has the FF version in the project repo.
      dockercompose-path: ./docker-compose.yaml ./docker-compose.frank.stub.yaml ./docker-compose.frank.dev.yaml